.promo {
    margin-bottom: 63px;
}
.promo__content {
    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
    border-radius: 59px;
    background-color: #f4f6f5;
}
.promo__text {
    max-width: 600px;
    margin-bottom: 50px;
}
.promo__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 125%;
    color: #000;
}
.promo__desc {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -0.05em;
    color: #000;
}
.promo__btn-wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;

    margin-top: 40px;
}
.promo__btn-wrapper::before{
    content: '';
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url('./../../img/icons/decor-yellow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.promo__btn {
    background-color: #000;
    border-radius: 10px;

    padding: 19px 40px;
    display: inline-block;

    transition: all .3s ease;
}
.promo__btn:hover {
    color: #000;
    background-color: #f4f6f5;
}
.promo__btn-wrapper a{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: -0.05em;
    color: #fff;
}
.promo__img {
    max-width: 890px;
}
 
.highlight {
    position: relative;
    display: inline-block;
}
.highlight:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -20px;
    right: -160px;
    transform: rotate(-2deg);
    background-color: #fff;
}
.highlight--yellow:before {
    background-color: #ebd96b;
}
.highlight__span {
    position: relative;
    z-index: 2;
}